<footer class="site-footer animated fadeIn">
  <app-chat></app-chat>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">ayi.group <i>
            Boost
            your career </i> We are a company with more

            than 20 years of experience in
            
            software development,
            
            technology services,
            
            IT products and solutions.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="/error">C</a></li>
            <li><a href="/error">UI Design</a></li>
            <li><a href="/error">PHP</a></li>
            <li><a href="/error">Java</a></li>
            <li><a href="/error">Android</a></li>
            <li><a href="/error">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/error">About Us</a></li>
            <li><a href="/error">Contact Us</a></li>
            <li><a href="/error">Contribute</a></li>
            <li><a href="/error">Privacy Policy</a></li>
            <li><a href="/error">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; {{ annon }} All Rights Reserved by 
       <a href="/error">EricRodriguez</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="/error"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="/error"><i class="fab fa-twitter"></i></a></li>
            <li><a class="linkedin" href="/error"><i class="fab fa-linkedin-in"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>

</footer>
