<div class=" d-flex  justify-content-center animated fadeIn">
  <div class="card d-flex  justify-content-center" style="width: 18rem; text-align: center;align-items: center;">

    <h1> My data</h1>
    <img src="assets/image/avatar.svg" style="width: 40%;align-items: center;">
    <div class="card-body ">
      <h5 class="card-title">User data:</h5>
      <i class="far fa-user"></i>
      <p class="card-text">{{this.usuario}}</p>
      <p class="card-text">{{this.apellido}}</p>
      <h4>Email:</h4>
      <i class="fas fa-envelope-open-text"></i>
      <p class="card-text">{{this.email}}</p>
    </div>
  </div>
</div>